<% if logged_in? %>

<% if @user.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

    <h2>Edit or Delete your account</h2>
    <h5><%= flash[:error] %></h5>
    <%= form_for @user do |f| %>
        <%= f.label 'Username' %>
        <%= f.text_field :username %>
        <%= f.submit "Edit User Name" %>
    <% end %>
    <br>
    <%= button_to 'Deactivate Account', user_path, method: :delete %>
    <br>
    <%= button_to 'Return to Profile', user_path, method: :get %>
<% end %>    
