<h3>Create an account!</h3>

<%= render partial: 'layouts/errors', locals: {object: @user} %>

<h5><%= flash[:error] %></h5>
<%= form_for @user do |f| %>
    <br>
    <%= f.label 'Username' %>
    <br>
    <%= f.text_field :username %>
    <br>
    <%= f.label 'password' %>
    <br>
    <%= f.text_field :password %>
    <br>
    <br>
    <%= f.submit "Create Account" %>
<% end %>
<br>
<%= button_to "Log In", "/login", method: :get %>