<% if logged_in? %>
    <% if current_user.posts.count == 0 %>
        <h4> You have not written any posts yet </h4>
    <% end %>
<% end %>
    <% if logged_in? %>
        <% current_user.posts.each do |post| %>
            <ul>
                <fieldset>
                    <legend><h4>Post by: <%=current_user.username %></h4></legend>
                        <li><%= link_to "#{post.title}", post_path(post)  %></li>
                </fieldset>
            </ul>
        <% end %>
    <% end %>
<br>
<br>
    <% if logged_in? %>
        <%= button_to  "New Post", new_post_path, method: :get %>
        <br>
        <%= button_to 'Return to Profile', user_path(current_user), method: :get %>
    <% else %>
        <%= button_to  "Return", "/welcome" , method: :get %>
    <% end %>
<br>