Create a new post

<% if @post.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @post do |f| %>
    <%= f.label 'Username' %>
    <%= f.text_field :username %>
    <%= f.label 'password' %>
    <%= f.text_field :password %>
    <%= f.submit "Create Account" %>
<% end %>