Create a new post

<% if @post.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @post do |f| %>
    <%= f.label 'Post Title' %>
    <%= f.text_field :title %>
     <%= f.label 'When did this happen?' %>
    <%= f.text_field :year %>
    <%= f.label 'Insert Notes & Data here:' %>
    <%= f.text_area :content %>
    <%= f.submit "Upload Post" %>
<% end %>