<h3>Create a new Post</h3>

<%= render partial:'layouts/errors', locals: {object: @post} %>

<h5><%= flash[:error] %></h5>
<%= form_for @post do |f| %>
    <%= f.label 'Give the historic event a title!' %>
    <%= f.text_field :title %>
    <br>
    <br>
    <%= f.label 'Under which Year?' %>
    <%= f.text_field :year %>
    <br>
    <br>
    <%= f.label 'Select an era' %>
    <%= f.select :era, options_for_select(['Before Common Era (BC)', 'Common Era (AD)']) %>
    <br>
    <br>
    <%= f.label 'Notes & Data:' %>
    <%= f.text_area :content %>
    <br>
    <br>
    <%= f.submit "Upload Post" %>
<% end %>