<!DOCTYPE html>
<html>
  <head>
    <title>Days Of Old</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h4>The Great Unknown...</h4>
    <div id="time_line">
    <br>
    <h5>Before the Common Era:</h5>
      <% Post.before_common_era.each do |post| %>
        <ul>
          <li><%= link_to "#{post.year} - #{post.title}", post_path(post) %></li>
        </ul>
      <% end %>
      <h5>Common Era:</h5>
      <% Post.common_era_posts.each do |post| %>
        <ul>
          <li><%= link_to "#{post.year} - #{post.title}", post_path(post) %></li>
        </ul>
      <% end %>
    </div>
    <div id="main">
        <%= yield %>
    </div>
  </body>
</html>

<%# def self.common_era_posts
        posts = Post.order("year ASC").where(era: 'Common Era (AD)')
        return posts
    end

    def self.before_common_era
        posts = Post.order("year DESC").where(era: 'Before Common Era (BC)')
        return posts
    end %>